@page "/"
@using HistoryMaps.BlazorApp.Extensions
@inject IEventRepository Repository

<PageTitle>Index</PageTitle>

<MudTable Items="_events">
    <HeaderContent>
        <MudTh>Год</MudTh>
        <MudTh>Название</MudTh>
        <MudTh>ID мира</MudTh>
    </HeaderContent>
    <RowTemplate>
        <MudTd>
            @context.Year.ToYearString()
            @if (context.EndYear != null)
            {
                @(" - " + ((int)context.EndYear).ToYearString())
            }
        </MudTd>
        <MudTd>
            @context.Name
        </MudTd>
        <MudTd>
            <a href="/world/@(context.WorldId)">@context.WorldId</a>
        </MudTd>
    </RowTemplate>
</MudTable>

@code
{
    private IEnumerable<EventDto> _events;

    protected override Task OnInitializedAsync()
    {
        return Task.Run(() =>
        {
            _events = Repository.GetAllEventDtos();
        });
    }
}
