@page "/world/{IdStr}"
@inject IJSRuntime Js
@inject ILogger<WorldPage> Logger

<MudAppBar Elevation="1" Style="height: 50px">
    <MudIconButton Icon="@Icons.Material.Filled.MoreVert" Color="Color.Inherit" Edge="Edge.End" />
</MudAppBar>
<div style="margin-top: 50px">
    <img id="world-image" src="data/worlds/@(_id).bmp" style="width: 100%; height: 100vh" alt="world" hidden/>
    <canvas id="world-canvas" style="width: 100%; height: calc(100vh - 50px)"></canvas>
</div>

@code {

    [Parameter]
    public string IdStr
    {
        get => _id.ToString();
        set => _id = Guid.Parse(value);
    }

    private Guid _id;

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        await Js.InvokeVoidAsync("run");
        Logger.LogInformation("RUN WORLD");
    }

}
